/* You can add global styles to this file, and also import other style files */
.w-16 {
    width: 16% !important;
}

.h-20 {
    height: 20% !important;
}

.modal {
    z-index: 1056 !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.form-control {
  padding:  0.3rem 0.70rem !important;
}

.form-group {
    padding-bottom: 0.75rem;
}